
*{
box-sizing:border-box;
}

html,body{
 margin: 0;
 padding: 0;

}

body{
font-family: 'Lexend Deca',sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: lightgray;
}


@media screen and (max-width:450px){

.principal{
 display: flex;
flex-direction:column;
 justify-content: center;
 align-items:center;
 width:100%;
 

}

.columna{
 display:flex;
 flex-direction:column;
 align-items:center;
 color: white;
 padding:1rem;
 width: 90%;
 transition: width .5s ease-in-out;
 cursor: pointer;
heigth:20%;
overflow:hidden;
}

.columna.activa{
 width: 90%;
heigth:40%;
padding: 1rem 1rem;
overflow:hidden
}

 .titulo{
 font-family:'Big Shoulders Display', cursive;
 text-transform: uppercase;
 }


.texto{
 font-size: 0.7rem;
 }

.enlace{
 margin-top:1rem;
 width:3rem;
 text-decoration: none;
 background-color: white;
 border-radius:8px;
 padding: 4px 4px;
 font-size: 1rem;
 text-align:center;
 }

/*-------------Columnas------------*/

.sedans{
background-color:hsl(31, 77%, 52%);
border-radius: 0.5rem 0.5rem 0 0;
}

.suvs{
background-color:hsl(184, 100%, 22%) ;

}
.luxury{
background-color:hsl(179, 100%, 13%) ;
border-radius: 0 0 0.5rem 0.5rem;
}

.sedans .enlace{
    color:hsl(31, 77%, 52%);
}

.suvs .enlace{
    color:hsl(184, 100%, 22%) ;
}
.luxury .enlace{
    color:hsl(179, 100%, 13%) ;
}
 

@media screen and (min-width:768px){

.principal{
width:90%;
 height:54%;
}
.columna{
padding:1rem;
}
 .titulo{
 font-family:'Big Shoulders Display', cursive;
 text-transform: uppercase;
  font-size:1rem;
 }

p{
padding:0.5rem;

}
 

}

}
@media  screen and (min-width: 1082px){
 .principal{
padding-top:2rem;
 max-heigth:50%;
}

p{
    margin-top: 1rem;
    margin-bottom:1rem;
}
.columna {
padding-top:3rem;
}
}

