/*-------------Generales-------- */
*{
 box-sizing:border-box;

}

html,body{

 height: 100%;
 margin: 0;
 padding: 0;

}

body{
font-family: 'Lexend Deca',sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: lightgray;
}

/* Principal */
.principal{
 display: flex;
 max-width: 768px;
 min-width: 320px;
 height:80%;

}

.columna{
 display:flex;
 flex-direction:column;
 align-items:center;
 color: white;
 padding:10px 20px;
 width: 25%;
 overflow: hidden;
 transition: width .5s ease-in-out;
 cursor: pointer;

}

.columna.activa{
 width: 80%;
padding: 10px 20px;
overflow: hidden;
}

 .titulo{
 font-family:'Big Shoulders Display', cursive;
 text-transform: uppercase;
 }


.texto{
 font-size: 12px;
 }

 .enlace{
 position:absolute;
 bottom:10rem;
 width:60px;
 text-decoration: none;
 background-color: white;
 border-radius:8px;
 padding: 4px 4px;
 font-size: 14px;
 text-align:center;


 }

/*-------------Columnas------------*/

.sedans{
background-color:hsl(31, 77%, 52%);
border-radius: .5rem 0 0 .5rem ;
}

.suvs{
background-color:hsl(184, 100%, 22%) ;

}
.luxury{
background-color:hsl(179, 100%, 13%) ;
border-radius: 0 .5rem .5rem 0;
}

.sedans .enlace{
    color:hsl(31, 77%, 52%);
}

.suvs .enlace{
    color:hsl(184, 100%, 22%) ;
}
.luxury .enlace{
    color:hsl(179, 100%, 13%) ;
}
  
p{
    margin-top:1%;
    margin-bottom:1%;
}



/*----------Diseño Responsive---------*/
@media screen and (max-width:450px){

.principal{

 height:70%;
}
 .titulo{
 font-family:'Big Shoulders Display', cursive;
 text-transform: uppercase;
  font-size:1rem;
 }

p{
    margin-top: 1rem;
    margin-bottom:1rem;
}

.enlace{

 bottom:12rem;

 }
 

}

@media screen and (max-width:768px){

.principal{

 height:90%;
}
p{
    margin-top: 1rem;
    margin-bottom:1rem;
}

.enlace{

 bottom:2rem;

 }
 

}
@media only screen and (min-width: 769px) and (max-width: 1200px){
 .principal{

 height:80%;
}
p{
    margin-top: 1rem;
    margin-bottom:1rem;
}

.enlace{

 bottom:8rem;

 }
}

